<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Page</title>
</head>
<body>
    <header>
        <h1>Usuario</h1>
    </header>
    <nav>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
    </nav>
    <main>
        <p>
            ¡Hola, <span th:text="${nombreUsuario}">[Nombre]</span>! 
            Tu ID de usuario es: <span th:text="${idUsuario}">[ID]</span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger">
                Cerrar Sesión
            </button>
        </form>
    <a href="/solicitud/crear">Crear nueva solicitud</a>

    </main>
    <footer>
        <p>Footer Content &copy; 2024</p>
    </footer>
</body>
</html>
  